.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.imgContainer {
  border-width: 1px;
  border-color: black;
}

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  position: absolute;
  z-index: 1;
}

.completeSet {
  border: 1px solid green;
  border-radius: 50%;
  padding: 6px;
  margin: 5px;
}

h4 {
  margin: 0px;
  color: #23a8a8;
  padding-top: 5px;
  z-index: 2;
}

.responses {
  z-index: 2;
  position: absolute;

}

.responseText {
  font-size: 14px;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;

}

.highlight {
  border-width: 2px;
  border-color: yellow;
}

@media only screen and (min-width: 320px) {
  .container {
    height: 90px;
    width: 90px;
    border-radius: 45px;

  }
}

