.cardContainer {
    border: 1px solid red;
    height: 80px;
    width: 60px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
}

.innerCard{
    display: flex;
    height: 70px;
    width: 60px;
    justify-content: center;
    align-items: center;
}

.suiteStyle {
        height: 28px;
        width: 28px;
        margin: 0px;
        padding: 5px;    
}

.symbolStyle {
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}
    
.playerOneDeck {
    border: 1px solid ;
}
