.deckImg {
    height: 80px;
    width: 80px;

}

.deckImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.deckText {
    color: white;
    text-align: center
}